<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/voters.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</head>
<body>
     <!-- Navigation Bar -->
     <nav class="navbar">
            <a href="/" class="logo">
              <img src="images/Logo.svg" alt="Logo" srcset="" /><span>Pollity</span>
            </a>
        
        <div class="hamburger" id="hamburger">
          <img src="images/menu.svg" alt="" srcset="">
        </div>
        <ul class="nav-links menu" id="menu">
          <li><a href="/voters">Voters</a></li>
          <li><a href="/admins">Admins</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
        <a href="#" class="cta-button" id="btn">Schedule a consultation</a>
      </nav>
      <!-- hero section -->
      <section class="voter-hero">
        <div class="voter-content">
            <h1 class="h1"><span>
              Empower Voters with a Seamless
            </span> <span> and Secure Voting Experience </span></h1>
            <button class="voter-btn">Schedule a consultation</button>
        </div>
        <div class="voter-images">
            <div class="voter-img-group one ">
                <img src="images/smileygirl.png" alt="Voter image 1" class="voter-img tall">
                <img src="images/Image7.png" alt="Voter image 2" class="voter-img tall">
            </div>
            <div class="voter-img-group two">
                <img src="images/smileyguy.png" alt="Voter image 3" class="voter-img short">
                <img src="images/youngguy.png" alt="Voter image 3" class="voter-img tall">
                <img src="images/girl.png" alt="Voter image 4" class="voter-img medium">
            </div>
        </div>
    </section>
    <section class="atblockvote">
        <!-- <p>At Pollity</p>
        <h1 class="">We believe that every vote matters. That’s why we’ve designed a voting experience that is simple, secure, and accessible to all voters, ensuring that every voice is accurately represented in your elections.</h1> -->
        <p><span>At</span> <span>Pollity</span></p>
    <h1>
        <span>We</span> <span>believe</span> <span>that</span> <span>every</span> <span>vote</span> <span>matters.</span>
        <span>That’s</span> <span>why</span> <span>we’ve</span> <span>designed</span> <span>a</span> <span>voting</span> 
        <span>experience</span> <span>that</span> <span>is</span> <span>simple,</span> <span>secure,</span> 
        <span>and</span> <span>accessible</span> <span>to</span> <span>all</span> <span>voters,</span> 
        <span>ensuring</span> <span>that</span> <span>every</span> <span>voice</span> <span>is</span> 
        <span>accurately</span> <span>represented</span> <span>in</span> <span>your</span> <span>elections.</span>
    </h1>
    </section>
    <section class="slider">
        <h1 class="h1">Why Pollity is the Right Choice for Your Voters</h1>
        <div class="slidercontainer">
        <div class="sliderflex">
            <img src="images/ready.png" alt="" srcset="">

                <div class="slidercontent">
                    <h1>VVPAT: Secure Printed Record for Every Vote</h1>
                    <p>Every vote is accompanied by a printed receipt, creating a physical record that ensures accountability, enables audits, and strengthens voter confidence in the integrity of the election process.</p>
                </div>
            </div>
        <!-- <div class="sliderflex">
            <img src="images/ready.png" alt="" srcset="">

                <div class="slidercontent">
                    <h1>Very Easy to Navigate</h1>
                    <p>Clear, step-by-step instructions guide voters through the process, with easy navigation and support available at every turn. </p>
                </div>
            </div>
        <div class="sliderflex">
            <img src="images/ready.png" alt="" srcset="">

                <div class="slidercontent">
                    <h1>Simple-Self Accreditation</h1>
                    <p>Voters authenticate securely with biometric verification, ensuring only eligible participants can access the ballot. They can now self-accredit, making the process faster and more efficient.</p>
                </div>
            </div> -->
        </div>
    </section>
    <!-- How blockvote -->
    <section class="">
        <div class="votercontainer">
          <!-- <img src="images/Group 1.svg" alt="" srcset="" class="group1img"> -->
                <div class="voterleft-section">
              <h1 class="h1">How Pollity Enhances the Voter Experience</h1>
          </div>
          <div class="voterright-section">
              <div class="voterfeature">
                  <div class="votericon-container">
                      <img src="images/scanner.svg" alt="" srcset="">
                  </div>
                  <h3>Intutive Interface</h3>
                  <p>Voters navigate through a
                    straightforward process, with clear
                    instructions at every step, making
                    it easy for anyone to cast their
                    vote.
                    
              </div>
              <div class="voterfeature">
                  <div class="votericon-container">
                      
                      <img src="images/Wheelchair.svg" alt="" srcset="">
                  </div>
                  <h3>Accessbility features
                </h3>
                  <p>From voice guidance to
                    adjustable text sizes, the platform
                    is designed to accommodate
                    voters of all abilities, making the
                    voting process inclusive for all.
                    </p>
              </div>
              <div class="voterfeature">
                  <div class="votericon-container">
                      
                       <img src="images/chart.svg" alt="" srcset="">
                  </div>
                  <h3>Real-Time Monitoring
                </h3>
                  <p>Voters can be assured that their
                    votes are securely tracked in real-
                    time, with no room for errors or
                    fraud.
                    
              </div>
              <div class="voterfeature">
                  <div class="votericon-container">
                      
                       <img src="images/shield.svg" alt="" srcset="">
                  </div>
                  <h3>Top-Tier Security
                </h3>
                  <p>Biometric verification and
                    blockchain technology ensure that
                    every vote is securely recorded and
                    protected from tampering.
                    
              </div>
          </div>
      </div>
      </section>
      <section class="ready">
        <div class="votercontainer1">
            <img src="images/Group2.png" alt="" srcset="" class="votergroup2img">
                <h1 class="h1">Get Started with Pollity</h1>
            
            <div class="">
                <p>Equip your Polling Unit Officers and Central Control teams with the tools they need to conduct secure, transparent, and efficient elections.</p>
            </div>
            <button>Schedule a consultation</button>
        </div>
      </section>
      <section class="faq-container" id="faq">
        <div class="faq-left">
          <h2>Polling Unit Officers</h2>
          <h1 class="h1">FAQ</h1>
          <p>
            Everything you need to know about the product and billing. Can't find the answer you're looking for?
            <a href="#">Get in touch</a>
          </p>
        </div>
    
        <div class="faq-right">
          <div class="faq-item">
            <div class="faq-question" onclick="toggleFAQ(this)">
              <span>What is the technology behind blockvote</span>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>We periodically check if the Linear desktop app is installed on your computer. We achieve
                this by sending network requests to your localhost (your computer) on different ports. Each
                port check helps us determine if our desktop app is running. This then allows us to seamlessly open certain URLs directly in the desktop app, enhancing your user experience
                and ensuring better integration between our web and desktop applications.</p>
            </div>
          </div>
    
          <div class="faq-item">
            <div class="faq-question" onclick="toggleFAQ(this)">
              <span>What is VVPAT ?</span>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>We periodically check if the Linear desktop app is installed on your computer. We achieve
                this by sending network requests to your localhost (your computer) on different ports. Each
                port check helps us determine if our desktop app is running. This then allows us to
                seamlessly open certain URLs directly in the desktop app, enhancing your user experience
                and ensuring better integration between our web and desktop applications.</p>
            </div>
          </div>
    
          <div class="faq-item">
            <div class="faq-question" onclick="toggleFAQ(this)">
              <span>How many times can the voters scan their fingers</span>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>We periodically check if the Linear desktop app is installed on your computer. We achieve
                this by sending network requests to your localhost (your computer) on different ports. Each
                port check helps us determine if our desktop app is running. This then allows us to
                seamlessly open certain URLs directly in the desktop app, enhancing your user experience
                and ensuring better integration between our web and desktop applications.</p>
            </div>
          </div>
    
          <div class="faq-item">
            <div class="faq-question" onclick="toggleFAQ(this)">
              <span>What happens when there is no network</span>
              <span class="icon">+</span>
            </div>
            <div class="faq-answer">
              <p>We periodically check if the Linear desktop app is installed on your computer. We achieve
                this by sending network requests to your localhost (your computer) on different ports. Each
                port check helps us determine if our desktop app is running. This then allows us to
                seamlessly open certain URLs directly in the desktop app, enhancing your user experience
                and ensuring better integration between our web and desktop applications.</p>
            </div>
          </div>
    
          <div class="see-more">
            <a href="#">See more</a>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-left">
    
          <div class="logo2">
            <img src="images/Logo.svg" alt="Logo" srcset="" /><span
            >Pollity</span
            >
          </div>
          <div class="footer-icon">
            <img src="images/facebook.svg" alt="" srcset="">
            <img src="images/instagram.svg" alt="" srcset="">
            <img src="images/whatsapp.svg" alt="" srcset="">
          </div>
        </div>
        <div class="footer-link">
          <a href="#">Voters</a>
          <a href="#">Polling Unit Officers</a>
          <a href="#">ControlCenter</a>
        </div>
      </footer>
      <script src="js/voters.js"></script>
</body>
</html>